@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Nunito, sans-serif;
}

header ul {
  list-style-type: none;
  display: flex;
  align-content: center;
  gap: 60px;
  margin-right: 100px;
}

header li {
  font-size: 18px;
}

a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

header {
  background-color: hsl(25, 56%, 67%);
  display: flex;
  justify-content: space-between;
  padding: 30px 160px 0 160px;
}

.header.section {
  background-color: hsl(25, 56%, 67%);
  display: flex;
  justify-content: space-between;
  padding: 90px 160px;
}

div.header.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main.header h2 {
  width: 200px;
}

.main.header p {
  width: 500px;
}

.main.header button {
  margin-top: 20px;
  border-radius: 8px;
  border-style: none;
  padding: 10px 24px;
  font-size: 18px;
  cursor: pointer;
}

.button-container {
  display: flex;
  gap: 20px;
}

.button-container > button:nth-child(1) {
  background-color: hsl(30, 52%, 92%);
}

.button-container button:nth-child(1):hover {
  background-color: hsl(0, 0%, 79%);
}

.button-container button:nth-child(2) {
  background-color: hsl(26, 85%, 61%);
}

.button-container button:nth-child(2):hover {
  background-color: hsl(26, 85%, 51%);
}

.body {
  background-color: hsl(0, 15%, 89%);
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.features h2,
.pricing h2,
.pricing p {
  margin: 0 auto;
  text-align: center;
}

.features h2 {
  margin-bottom: 40px;
  margin-top: -10px;
}

.body .cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.features .cards-container .card {
  background-color: hsl(343, 7%, 80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 252px;
  height: 356px;
  padding: 0 15px;
}

.features .cards-container .card .icon-container {
  background-color: hsl(25, 56%, 67%);
  width: 102px;
  height: 102px;
  border-radius: 50%;
}

.card p {
  text-align: center;
}

hr {
  width: 80%;
  border-radius: 50%;
  margin: 20px 0;
}

.pricing h2 {
  margin-bottom: 10px;
  margin-top: -30px;
}

.pricing p {
  width: 426px;
  margin-bottom: 50px;
}

.pricing .cards-container {
  gap: 80px;
}

.pricing .cards-container .card {
  width: 320px;
  height: 436px;
}

footer {
  width: 100%;
  background-color: hsl(25, 56%, 67%);
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
}

footer .links-container ul {
  list-style-type: none;
  display: flex;
  align-content: flex-end;
  gap: 30px;
}

footer .links-container {
  align-self: flex-end;
}

footer .icons-container {
  align-items: flex-end;
  justify-content: flex-end;
}

footer .FatCat-logo {
  width: 100px;
  margin: 20px;
}

footer .icon {
  width: 24px;
  margin-bottom: 10px;
}
